@import url("https://fonts.googleapis.com/css?family=Roboto");

/* --- General --- */

html {
  font-size: 100%
}

body {
  font-family: 'Roboto', serif !important;
  font-size: 1.125rem;
  color: {{ site.text-col | default: "#404040" }};
  position: relative;
  background-color: {{ site.page-col | default: "#FFFFFF" }};
  {% if site.page-img %}
  background-image: url({{ site.page-img | relative_url }});
  background-attachment: fixed;
  {% endif %}
  overflow-wrap: break-word;
}
.navbar-custom .navbar-brand, .navbar-custom .navbar-nav .nav-link {
 color:  {{ site.text-col | default: "#FFFFFF" }} !important;
}
